@import url('themes.css');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;

    --introDelay: 1s;
    --introDuration: 2s;
    --introFunction: cubic-bezier(0.5, 0.5, 0, 1);
    --lineGradient: linear-gradient(to left, transparent 10%, white 50%, transparent 90%);
    --backgroundGradient: var(--td1);
}

html {
    width: 100%;
    min-height: 100%;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    scrollbar-width: none;
}
body {
    position: relative;
    background: conic-gradient(from 360deg at 110% 60%, #3f0071, #3f0071, #3e026e, #3a0568, #340a5c, #2a0f49, #1d1030, #150f1e, #100d14, #0d0c0e, #0c0c0c, #0c0c0c);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    animation: scrollAppear 2s;
}
.animated-intro {
    z-index: 99;
    display: none;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50%;
    /* background: rgba(255, 255, 255, 0.1); */
    /* background: rgb(50, 50, 50); */
    background: var(--backgroundGradient);
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.animated-intro#top-bar {
    left: 0;
    top:0;
    animation: introGoUp var(--introDuration, 2s) var(--introFunction) var(--introDelay) forwards;
    /* filter: drop-shadow(10px 10px 5px rgba(123, 0, 255, 0.2)); */
}
#title {
    position: absolute;
    bottom: 10px;
    font-size: 3.5em;
    color: transparent;
    background: linear-gradient(to bottom right, white 60%, rgb(206, 206, 206) 90%);
    background-clip: text;
    
}
#title-bottom {
    position: absolute;
    display: flex;
    top: 10px;
}

.animated-intro#bottom-bar {
    left: 0;
    bottom: 0;
    animation: introGoDown var(--introDuration, 2s) var(--introFunction) var(--introDelay) forwards;
    
}
.animated-intro#top-bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--lineGradient);
    bottom: 0;
    left: 0;
}
.animated-intro#bottom-bar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--lineGradient);
    top: 0;
    left: 0;
}
.animated-intro-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;

    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: fadeIn;

    z-index: 99;

}
.animated-intro-content {
    display: grid;
    grid-template-rows: 45% 45%;
    gap: 10%;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;

}

@keyframes introGoUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 5em));
    }
}
@keyframes introGoDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(120%);
        /* transform: translateY(0%); */
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}
@keyframes fadeInGrow {
    0% {
        opacity: 0;
        scale: 0.7;
    }
    70% {
        opacity: 1;
    }
    80%, 100% {
        opacity: 1;
        scale: 1;
    }    
}

/* ################################################### */

main {
    height: 100%;
    width: 100%;
    color: #000;
    display: block;
    padding-top: 50px;
    /* opacity: 0; */
    /* animation: fadeIn calc(var(--introDuration) + 0.5s) var(--introFunction) calc(var(--introDelay) + 0.5s) forwards; */
    color: white;
}
.content-block {
    border: white 1px solid;
    width: 90%;
    height: 60svh;
    margin-top: 5%;
    margin-inline: auto;
    opacity: 0;
    animation: fadeIn calc(var(--introDuration) + 0.8s) calc(var(--introDelay) + 0.6s) var(--introFunction) forwards;
}
.content-block:nth-child(1){
    background: rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 70%;
    height: 50svh;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%; 
    align-content: center;
    overflow: hidden;
    opacity: 0;
    animation: fadeInGrow calc(var(--introDuration) - 0.2s ) calc(var(--introDelay) + 0.2s) var(--introFunction) forwards;
    > h1 {
        justify-self: flex-end;
        font-size: 5em;
    }
}

.content-block:nth-child(2) {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-logo {
    width: 110px;
    aspect-ratio: 1;
    filter: drop-shadow(rgba(0,0,0,0.5) 2px 2px 5px);
    /* animation: rotations linear;
    animation-timeline: view(); */
}
#vite {
    animation: none;
}

@keyframes rotations {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}





  /* Shine */
.first-content::after {
    content:'';
    top:0;
    transform:translateX(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
    animation: slide calc(var(--introDuration)) calc(var(--introDelay) + 0.4s) var(--introFunction) forwards;
    opacity: 40%;
       
    /* 
    CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
    */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(125,185,232,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
  }
@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}