@import url('themes.css');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;

    --introDelay: 1s;
    --introDuration: 2s;
    --introFunction: cubic-bezier(0.5, 0.5, 0, 1);
    --lineGradient: linear-gradient(to left, transparent 20%, white 50%, transparent 80%);
}

html {
    width: 100%;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    scrollbar-width: none;
}
body {
    position: relative;
    background: linear-gradient(to bottom right, var(--theme-dark-2) 50%, var(--theme-dark-1));
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    animation: scrollAppear 2s;
}
.animated-intro {
    /* display: flex; */
    display: none;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50%;
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgb(50, 50, 50);
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}
.animated-intro#top-bar {
    left: 0;
    top:0;
    animation: introGoUp var(--introDuration, 2s) var(--introFunction) var(--introDelay) forwards;
    /* filter: drop-shadow(10px 10px 5px rgba(123, 0, 255, 0.2)); */
}
#title {
    position: absolute;
    bottom: 0;
    font-size: 3.5em;
    color: transparent;
    background: linear-gradient(to bottom right, white 60%, rgb(206, 206, 206) 90%);
    background-clip: text;
    
}
#title-bottom {
    position: absolute;
    display: flex;
    opacity: 1;
    top: 0;
}
#title-bottom .langImg {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: grey; */
    border-radius: 15px;

    > svg {
        height: 80px;
        width: fit-content;
    }
}

.animated-intro#bottom-bar {
    left: 0;
    bottom: 0;
    animation: introGoDown var(--introDuration, 2s) var(--introFunction) var(--introDelay) forwards;
    
}
.animated-intro#top-bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--lineGradient);
    bottom: 0;
    left: 0;
}
.animated-intro#bottom-bar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--lineGradient);
    top: 0;
    left: 0;
}
.animated-intro-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;

    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: fadeIn;

    z-index: 99;

}
.animated-intro-content {
    display: grid;
    grid-template-rows: 45% 45%;
    gap: 10%;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;

}

@keyframes introGoUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-82%);
    }
}
@keyframes introGoUpMore {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1000%);
    }
}
@keyframes introGoDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
        /* transform: translateY(0%); */
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

/* ################################################### */

main {
    height: 100%;
    width: 100%;
    color: #000;
    display: block;
    padding-top: 50px;
    /* opacity: 0; */
    /* animation: fadeIn calc(var(--introDuration) + 0.5s) var(--introFunction) calc(var(--introDelay) + 0.5s) forwards; */
    color: white;
}
.first-content{
   border: white 1px solid;
   width: 100%;
   height: 60svh;
   margin-top: 5%;
   display: grid;
   grid-template-columns: 49% 49%;
   gap: 2%; 
   align-content: center;
   > h1 {
        justify-self: flex-end;
        font-size: 5em;
   }
}