@import url('themes.css');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: var(--theme-dark-2);
    display: flex;
    flex-direction: column;
    height: 100svh;
    position: relative;
    animation: scrollAppear 2s;
}

/*HEADER######################################################*/
header {
    display: none;
    /* display: flex; */
    position: sticky;
    background-color: var(--theme-dark-2);
    box-shadow: rgb(0, 0, 0) 0 5px 20px -10px;
    justify-content: space-between;
    align-items: flex-end;
    padding-block: 1.5em;
    padding-inline: 10%;
    overflow: visible;
    width: 100%;
    height: 12svh;
    z-index: 1;
    top:0;
}


.navme {
    & h1 {
        font-size: xxx-large;
        /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); */
    }
    border: var(--theme-dark-3) 5px solid;
    border-radius: 10px;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    /* box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.4); */
    min-width: 450px;
}
.navBar {
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
}

.nav-link {
    height: 100%;
    width: 10rem;
    display: flex;
    text-decoration: none;
    justify-content: inherit;
    align-items: inherit;
    border: inherit;
    font-size: 0.8em;
    color: inherit;
    cursor: pointer;
    z-index: 1;
    border-bottom: rgba(0, 0, 0, 0) solid 2px;
    transition: 500ms;
}
.nav-link:hover{
    border-bottom: var(--theme-dark-3) solid 2px;
    text-shadow: 5px 5px 5px -5px black;

}
.selected{
    border-bottom: var(--theme-dark-3) solid 2px;
}

/*MAIN#########################################################*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 5%;
}
.about-me {
    position: sticky;
    /* border: solid black 10px; */
    display: grid;
    grid-template-areas: 
                    "A B"
                    "c c";
    grid-template-rows: 70% 30%;
    grid-template-columns: 48% 48%;
    column-gap: 2%;
    height: min(60svh, 700px);
    padding-block: 2.5%;
    
    width: 80%;
    justify-content: center;
    align-items: center;
    animation-name: fadeOut;
    animation-timeline: view(30% 60%);
    animation-duration: 1ms;
    animation-fill-mode: forwards;
    opacity: 1;
    background-blend-mode: screen;
    border: solid 1px gray;
    border-radius: 50px;
    
    box-shadow: 2px 2px 15px black;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        125deg,
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0.2)
    );
}
.about-me-container {
    position: relative;
    content: "";
    width: fit-content;
    height: fit-content;  
}

.about-me-title {
    grid-area: A;
    position: relative;
    font-size: xx-large;
    overflow: hidden;
    width: 30svw;
    background-position: 0 10; 
    justify-self: center;
    align-self: center;
    font-size-adjust: 0.7;
    > h1:nth-child(1) {
        background: radial-gradient(circle at 5% 5%, var(--theme-dark-accent) 20%, white 40%);
        color: transparent;
        background-clip: text;
        text-align: end;
    }
    > h1:nth-child(2) {
        background: radial-gradient(circle at 90% 100%, var(--theme-dark-accent) 10%, white 50%);
        color: transparent;
        background-clip: text;
        text-align: end;
    }
    > h1 {
        /* filter: drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.5)); */
        text-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.5);
    }
}
.bg-move {
    content: "";
    position: absolute;
    width: 300%;
    height: 100%;
    left: 0;
    top: 0;
    /* background-clip: text; */
    /* animation: MOVE-BG 10s linear infinite; */
    
}

@keyframes MOVE-BG {
    0% {
        background-position: 0 50%; 
    }
    100% { 
        background-position: 0 300%; 
    }
 }

 @keyframes fadeOut {
    0% { opacity: 1}
    50% {opacity: 1}
    100% {opacity: 0}
 }


.title {
    font-size: 3em;
    border-bottom: solid var(--theme-dark-3);
    margin-bottom: 2svh;
}

.custom-shape-divider-top-1709748540 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709748540 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1709748540 .shape-fill {
    fill: var(--theme-dark-3);
}

.aboutme{
    display: flex;
    width: 100%;
    padding-inline: 5%;
    justify-content: left;
    align-items: center;
}

.ptitle {
    grid-area: B;
    align-self: flex-end;
    padding-bottom: 50px;
}

main .content{
    width: 40%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    & h1 {
        text-align: center;
    }
}


.languages {
    grid-area: c;
    width: 90%;
    justify-self: center;
    display: grid;
    grid-template-rows: 25% 65%;
    >h2 {
        padding-left: max(10px, 20%)  ;
        align-self: flex-end;
    }
    
}

.allLangs {
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    flex-wrap: nowrap;
    gap: 1%;
    width: 100%;
    z-index: 99;
    transform-style: preserve-3d;
    transform: perspective(1500px);
    animation: scrollAppear;

}
@keyframes scrollAppear {
    from{ opacity: 0};
    to {opacity: 1};
    
}
 
.allLangs .langImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    padding: 10px;
    /* margin-block: 0.5svh; */
    /* border: black 1px solid; */
    transition: .4s ease-out;
    /* filter: brightness(0.9); */
    background-color: rgb(48, 0, 87);
    border-radius: 10px;
    width: 120px;
    height: 130px;
    > h3 {
        font-size-adjust: 0.3;
    }
    
}
.langImg svg {
    /* filter: drop-shadow(rgba(0, 0, 0, 0.5) 10px 10px 4px); */
    transition: .8s ease-out;
    perspective: 0px;
    width: 100%;
    height: 100%;
    
}
:root {
    --tZ-1: 250px;
    --tZ-2: 150px;
    --tZ-3: 50px; 
}

.allLangs:hover .langImg{
    filter: brightness(0.2);
    transform: translateZ(50px);
}

.allLangs .langImg:hover {
    filter: brightness(1) drop-shadow(rgba(255, 255, 255, 0.2) -1px -1px 4px);
    transform: translateZ(var(--tZ-1));
}

.allLangs .langImg:hover + * {
    filter: brightness(0.7);
    transform: translateZ(var(--tZ-2)) rotateY(40deg) ;
}
.allLangs .langImg:has(+ *:hover ){
    filter: brightness(0.7);
    transform: translateZ(var(--tZ-2)) rotateY(-40deg);
}

.allLangs .langImg:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(var(--tZ-3)) rotateY(20deg);
}
.allLangs .langImg:has(+ * + *:hover){
    filter: brightness(0.4);
    transform: translateZ(var(--tZ-3)) rotateY(-20deg);
}



.projects {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    position: relative;
    height: 80%;
}

.projects::after{
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 100%;
    justify-self: center;
    align-self: center;
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, var(--theme-dark-3), rgba(0, 0, 0, 0) 90%);

}

.projects article {
    width: 47%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.projects article:nth-child(odd) {
    border-left: 6px solid var(--theme-dark-3);
    padding-left: 1%;
    align-self: flex-start;


}

.projects article:nth-child(even) {
    align-self: flex-end;
    border-right: 6px solid var(--theme-dark-3);
    padding-right: 1%;
}

.projects article p {
    padding-block: 0.5svh;
    text-indent: 5%;
    text-wrap: wrap;
    text-align: justify;
    text-justify: inter-word;
}