@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-family: "Sen", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-dark-1: #232931;
        --theme-dark-1: #24292E;
        --theme-dark-2: #1D2125;
        --theme-dark-accent: rgb(136, 0, 255);
        /* --theme-dark-3: #1D2125; */
        --text: #F7F8FC;
        --text2: #7000a5;

        color: var(--text);
    }
}
html {
    color-scheme: dark;
}
/*:root{*/
/*    !*--theme-light-1: #F7F8FC;*!*/
/*    !*--theme-light-2: #910A67;*!*/
/*    !*--theme-light-3: #720455;*!*/
/*    !*--theme-light-4: #3C0753;*!*/
/*    !*--theme-light-5: #202136;*!*/
/*    */
/*}*/
