:root {
    --topBannerSize: calc(var(--fsTitle) + var(--fsTitle) * 0.5);
}

.infoCard{
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    grid-template-columns: 100%;
    height: 75svh;
    width: 100%;
    padding-inline: 15%;

    align-items: flex-end;
    justify-content: center;

    font-size: 2.2em;
    line-height: 1.7;
    text-align: center;
    padding-bottom: 20svh;
    margin-bottom: -20svh;
    
    mask: linear-gradient(to bottom, white 70%, transparent 100%);
    /* padding-top: 25svh; */
    /* padding-bottom: 40svh;
    margin-bottom: -10svh; */
    
    background: linear-gradient(-45deg, rgba(75, 21, 128, 0.5) -20%, var(--td1) 150%);

}
.infoCard i {
    display: inline-block;
    background: red;
    padding-right: 5px;
    background: linear-gradient(90deg, #eb3678, #f13d70, #f54567, #f94e5e, #fb5856, #fc624d, #fc6d45, #fb773c);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.bannerButtons-wrap {
    position: relative;
    z-index: 2;
    width: 70%;
    height: 20svh;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    gap: 0.5svw;
}
.banner-buttons {
    width: 15em;
    height: 5em;
    background: var(--td4);
    opacity: 1;
    border-radius: 40px;
    border: none;

}
.banner-buttons a {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-buttons a img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
}
#githubLogo {
    width: 65%;
    background-color: white;
    border-radius: 50%;
}

.banner-buttons:not(#first-banner-button) {
    background: var(--td5);
    
}
.minor-bnbuttons-wrap {
    gap: 0.5svw;
    display: flex;
}
.minor-bnbuttons-wrap .banner-buttons{
    width: 5em;
    
}
@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

@media (max-width: 1000px) {
    :root {
        --fsTitle: 7vw;
        --fsTitleSpace: 1.5em;
    }
    .infoCard{ 
        display: flex;
        flex-direction: column;
        padding-inline: 0%; 
    }
    .infoCard-info-wrapper {
        align-items: center;
        width: 80%; 
    }
}
@media (max-width: 400px) {
    :root {
        --fsTitle: 1.6em;
        --fsTitleSpace: 1.4em;
        --fsSubTitle: 2em;
    }
    .infoCard-info-wrapper {
        text-align: center;
        width: 90%; 
    } 
}