.App {
    position: relative;
    height: 100svh;
    width: 100svw;
    overflow: hidden;

    background: white;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    --blue: rgb(50, 149, 255);
    
}

#Main {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    border-bottom: var(--blue) 5px solid;
    justify-items: center;
}